.overlay {
  height: 600px;
  background-image: url("./header-bg.png");
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;  
}

.aller {
  font-family: 'Aller'
}
