.hero {
  height: 600px;
  background-image: url("./hero-bg.png");
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;  

  display: flex;
  flex-flow: column nowrap;
  
  align-items: center;
  justify-content: center;
}

.aller {
  font-family: 'Aller'
}

.QuestionsAboutData {
  width: 541px;
  height: 43px;
  font-family: Aller;
  font-size: 36px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;
  margin:auto;
}
