@import "../../styles/config.scss";

.hero {
  height: 600px;
  background-image: url("./hero-bg.png");
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  flex-flow: column nowrap;
  
  align-items: center;
  justify-content: center;

  

.mainSearch {

      margin: $paddingsmall;  
      position: relative;

      .icon {
        background-image: url("./search-icon.svg");
        background-position-x: center;
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: contain;
        
        width: 20px;
        height: 100%;
        margin-left: 36px;
        position: absolute;
      }

      input {
        width: 600px;
        height: 70px;
        padding-left: 75px;    
        border-radius: 10px;
        border: none;      
        box-shadow: inset 0 0 4px 0 rgba(39, 56, 54, 0.4);

        font-family: Aller;
        font-size: 24px;
        text-align: left;
        color: #c7c7c7;   
        
        
      }      

      ::-webkit-input-placeholder {
        color: #c7c7c7;
      }
    
    }         

    .mainSearchResults {
      margin-top: 3px;
      
      padding: $paddingsmall;

      border-radius: 10px;
      background-color: #ffffff;
      box-shadow: 0 2px 6px 0 rgba(15, 38, 71, 0.5);
      border: solid 1px #dde3eb;      

      width: 100%;

      .title {
        font-family: Aller;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500;
        text-align: left;
        color: #2196ee;
      }
      
      opacity: 0;
      position: absolute;

      transition: opacity .25s ease-in-out;
    }
    
    input:focus + .mainSearchResults {           
      opacity: 1;
    }
    
    
}  

.aller {
  font-family: 'Aller'
}

.QuestionsAboutData {
  width: 541px;
  height: 43px;
  font-family: Aller;
  font-size: 36px;
  font-weight: 300;
  text-align: center;
  color: #ffffff;  
}

.sessionbase1 {
  //width: 1440px;
  //height: 400px;
  background-color: #ffffff;
}

.sessionbase2 {
  //width: 1440px;
  height: 600px;
  background-color: #f0f7f8;
}

.herotextright {
  margin-top: $paddingbig;
  position: absolute;
  right: 140px;
  width: 561.5px;
  height: 110px;
  font-family: Aller;
  font-size: 30px;
  text-align: left;
  color: #273836;

}

.herotextleft {
  margin-top: $paddingbig;
  position: absolute;
  left: 130px;
  width: 639.4px;
  height: 110px;
  font-family: Aller;
  font-size: 30px;
  text-align: left;
  color: #273836;

}

.flowpic {
  height: 220px;
  width: 900px;

  background-image: url("./flowpic.png");
  background-position-x: center;
  background-size: cover;
  background-repeat: no-repeat;
  //
  display: flex;
  flex-flow: column nowrap;
  //
  align-items: center;
  justify-content: center;
  margin: auto;

}

.flowpic2 {
  height: 220px;
  width: 100%;

  background-image: url("./flowpic2.png");
  position: absolute;
  right: 100px;
  background-position-x: right;
  //background-size: cover;
  background-repeat: no-repeat;
  ////
  //display: flex;
  //flex-flow: column nowrap;
  ////
  //align-items: center;
  //justify-content: center;

}


