//Ensure html/body covers the entire page, remove all padding/margins.
html, body {
  height: 100%;
  min-width: 100%;
  padding: 0px;
  margin: 0px;
}

//Ensure border-box sizing for all elements
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

// Ensure the application container covers the entire page.
#app-container {
  width: 100%;
  min-height: 100%;
}

// Remove outlining on focused input elements in all browsers.
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
