$paddingbig: 30px;
$paddingsmall: 10px;

.logo {
    background-image: url("./logo.svg"); 
    background-repeat: no-repeat;

    margin-left: $paddingbig;

    width: 100px;

    padding: $paddingsmall;
}

  // toolbar: style(flexRoot, {
  //   $debugName: 'toolbar',
  //   height: px(100),
  //   top: 0,
  //   left: 0,
  //   right: 0,
  //   width: percent(100),
  //   padding: spacing.paddingbig,
  //   // marginLeft: spacing.paddingbig,
  //   // marginRight: spacing.paddingbig


  // }),
  // toolbarLeft: style(content, {
  //   width: px(200)
  // }),
  // toolbarCenter: style(flex, {}),
  // toolbarVerticalCenter: style(flex, {}),
  // toolbarRight: style(content, {






  // })
