@import "../styles/config.scss";

.logo {
    background-image: url("./logo.svg"); 
    background-repeat: no-repeat;

    margin-left: $paddingbig;

    width: 100px;

    padding: $paddingsmall;
}

.toolbar {
  display: flex;
  flex-flow: row nowrap;  

  height: 100px;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: $paddingbig;  
}

.toolbarLeft {
  width: 200px;
}

.toolbarCenter {
  flex: 1;
}

.toolbarVerticalCenter {
  flex: 1;
}

.toolbarRight {

}





  // })
